* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }
  
  body > div {
    margin: auto;
  }


  /* BTN ----- Block */

.btn{
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 50px;
    min-width: 120px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover{
    opacity: 0.8;
}

.btn--disabled{
    opacity: 0.5 !important;
    cursor: default;
}

.btn + .btn{
    margin-left: 16px;
}


.btn--success{
    background-color: #71be34;
}

.btn--warning{
    background-color: yellow;
}

.btn--failure{
    background-color: red;
}

.btn--size-s{
    padding: 4px 8px;
}


.btn--size-l{
    padding: 16px 32px;
}
